* {
  box-sizing: border-box;
}

:root {
  --DarkBlue: #12232E;
  --LighterBlue: #007CC7;
  --LightestBlue: #4DA8DA;
  --ShadowofDarkBlue: #203647;
  --ShadowofLightBlue: #f9ffff;
}

body {
  margin: 0;
  overflow: hidden;
}

header {
  width: 100%;
  display: grid;
  grid-auto-columns: auto;
}

h1 {
  text-align: center;
  font-family: Yanone Kaffeesatz, serif;
  font-size: min(4em, 100vw);
  font-weight: bolder;
  margin: 23px 0 20px 0;
  /*position: relative;*/
  grid-area: 1 / 1 / 1 / 14;
  z-index: 100;
  color: hsl(220, 24%, 30%);
  /*display: none;*/
}

@keyframes slideInFromRight {
  0% {
    visibility: visible;
    transform: translateX(100%);
    /*left: -100vw;*/
  }
  50% {
    /*left: 9em;*/
  }
  100% {
    visibility: visible;
    transform: translateX(0);
  }
}

.header_bg {
  visibility: hidden;
  border-radius: 50%;
  padding-top: 100%;    /* aspect ratio 1:1 */
  height: available;
  grid-area: 1 / calc(var(--order) * 2 + 1) / 1 / span 3;
  background-color: hsl(200, 50%, calc(var(--order)*7% + 60%), 94%);
  animation: 500ms linear calc(var(--order) * 200ms) 1 slideInFromRight forwards;
  z-index: calc(99 - var(--order));
}



.content {
  width: available;
  max-width: 500px;
  margin: auto;
  align-items: center;
  background-color: #fafafa;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


#input_new_item {
  margin: 1px auto 0;
  width: 60%;
  border: 1px #1f1f1f solid;
  border-radius: 15px;
  padding: 1px 0 1px 9px;
  display: flex;
  background-color: #d5d5d5;
}

#input_new_item:focus-within {
  border-color: #0073ff;
}

#input_todo_item_description,
#input_todo_item_description:focus {
  border: none;
  outline: none;
}

#input_todo_item_description {
  background-color: #0000;
  width: 100%;
}

#input_todo_item_description::placeholder {
  color: #575757;
}

#input_todo_item_submit {
  cursor: pointer;
  height: 100%;
  border: none;
  background-color: #0000;
}

#input_todo_item_submit svg path{
  --animationEndColor: #ffffff;
  --animationScale: 1.2;
  --animationRatation: 5deg;
  fill: #282828;
}

@keyframes buttonColor {
  to{
    fill: var(--animationEndColor);
    transform: scale(var(--animationScale));
  }
}

@keyframes buttonShake {
  from{
    transform: scale(var(--animationScale)) rotate(calc(var(--animationRatation)*-1));
  }
  to{
    transform: scale(var(--animationScale)) rotate(var(--animationRatation));
  }
}

#input_todo_item_submit:hover svg path{
  animation:
      buttonColor 200ms forwards,
      buttonShake 150ms linear 200ms infinite alternate;
  border: 3px yellow solid;
  transform-origin: center;
}