#todoItemsList {
    --fadeOutDuration: 350ms;
    --fadeInDuration: 500ms;
    --shrinkDuration: 500ms;
    --unshrinkDuration: 500ms;
}

#todoItemsList li {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity ease-in var(--fadeOutDuration), height var(--shrinkDuration);
}

#todoItemsList li.show {
    margin-bottom: 1px;
    opacity: 1;
    height: 3em;
    transition: opacity var(--fadeInDuration), height ease-out var(--unshrinkDuration);
}


.todo_container {
    width: auto;
    height: 100%;
    border: 1px solid #000000;
    border-radius: 7px;
    background-color: #fafafa;
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox{
}

.todolabel {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    margin-left: 3px;
    flex-grow: 1;
    font-size: x-large;
    font-family: "Yanone Kaffeesatz", monospace;
    font-weight: bolder;
}

.delete_button {
    cursor: pointer;
    margin-inline-end: 5px;
    padding: 10px;
}
